/* common css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333;
    line-height: 26px;
}
html, body{
    height: 100%;
}
.h-100{
    height: 100%;
}
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    transition: .3s;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.bg{
    background-size: cover;
    background-position: center;
    transition: .3s;
    position: relative;  
}
.bg:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    background-color: #333;
    opacity:.70;
}

/* Section-title Css */
  .section-title{
      text-align: center;
      margin-bottom: 50px;
      padding: 50px;
  }
  .section-title span{
      font-size: 14px;
      letter-spacing: 6px;
      color: #999;
      font-weight: 500;
      text-transform: uppercase;
      display: inline-block;
    }
  .section-title h3{
      position: relative;
      font-size: 65px;
      font-weight: 700;
      letter-spacing: -4px;
      
  }
  .section-title h3:before{
      content: "";
      position: absolute;
      top: 50%;
      margin-left: -15px;
      width: 10px;
      height: 10px;
      background-color: #e43636;
      border-radius: 10px;
  }
  .section-title h3:after{
    content: "";
    position: absolute;
    top: 50%;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    background-color: #e43636;
    border-radius: 10px;
}
/* Top-header */

.header-area{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    padding: 20px 0;
    transition: .3s;
}
.header-area.sticky{
    position: fixed;
    background-color: #fff;
    padding: 5px 0;
}

.navbar-brand{
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-nav.ml-auto li a{
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-weight: 600;
    display: block;
}
.navbar-nav li.current a{
    color: #ff7720;
}

/* banner css */
.banner{
    padding: 380px;
}
.banner-content{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #fff;
}
.banner-content h4, .banner-content span{
    color: #fff;
    font-family: Poppins,Arial,Helvetica,sans-serif;
    font-size: 5.14286rem;
    line-height: 5.14286rem;
    font-weight: 700;
    letter-spacing: -.28571rem;
    text-shadow: none;   
}
.banner-content p{
    color: rgba(204, 202, 202, 0.945);
    font-size: 20px;
    font-family: Poppins,Arial,Helvetica,sans-serif;
    line-height: 1.57143rem;
    letter-spacing: .28571rem;
    padding-top: 28px;
}
.banner-content a{
    font-family: Poppins,Arial,Helvetica,sans-serif;
    display: inline-block;
    background-color: #e43636;
    padding: 8px 18px;
    color: #fff;
    text-decoration: none;  
}
.banner-content a:hover{
    background-color: #cc1b1b;
}
.banner-area.owl-carousel .owl-stage-outer{
    height: 100%;
}
.banner-area.owl-carousel .owl-stage{
    height: 100%;
}
.banner-area.owl-carousel .owl-item{
    height: 100%;
}
.banner-area .owl-dots{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);   
}
.banner-area .owl-dots button{
    background-color: red!important;
    width: 20px;
    height: 20px;
    margin: 10px 0;
    display: block;
    border-radius: 50%;
}
.banner-area .owl-dots button.active{
    background-color: #fff !important;
}

/* Introduct Css */

.pro-content{
    margin: .71429rem 0 2.14286rem;
}
.pro-content h2{
    font-size: 1.42857rem;
    font-weight: 700;
    font-family: Poppins,Arial,Helvetica,sans-serif!important;
}
.pro-desc p{
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    color: #666;
    margin-bottom: .78571rem;
}

.pro-info li{
    position: relative;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    color: #666;
    margin-bottom: .78571rem;
}
.pro-info li:before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #e43636;
    top: 8px;
    left: -15px;
    border-radius: 10px;
}
/* Features Css */
.product-features{
    background-image: url(../img/productextra-rs.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    position: relative;
}
.features-content{
    position: absolute;
    width: 33%;
    top: 40%;
    right: 0;
    color: #fff;
}
.features-content h1{
    font-size: 14px;
    letter-spacing: 4px;
    line-height: 22px;
    font-weight: 600;
}
.features-content span{
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: -4px;
}
.features-content p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    width: 335px;
    padding-bottom: 20px;
    margin-top: 5px;
}
.features-content a{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    padding: 15px 20px;
    line-height: 22px;
    background-color: #e43636;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.features-content a:hover{
    background-color: #cc1b1b;
}
/* Key Features Css */
.key-features{
    background-image: url(../img/home-htmlbg-rs.jpg);
    background-repeat: no-repeat;
    background-color: transparent;
    padding-bottom: 60px;
    background-position: right top;
}
.key{
    padding-top: 80px;
}
.key span{
    letter-spacing: 6px;
    right: 0;
    left: 3px;
    font-size: 14px;
    color: #999;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 0 0;
}
.key h5{
    font-weight: 700;
    font-size: 60px;
    color: #333;
}
.feature-box{
  padding-top: 30px;
  
}
.fbox-image{
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}
.fbox-body h4{
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: 700;
}
.fbox-content{
    overflow: hidden;
}
.fbox-content p{
    font-size: 16px;
    color: #666;
    font-weight: 300;
}
.boxApollo{
    padding-top: 100px;
}
.boxApollo a{
    color: #fff;
    background-color: #e43636;
    border-color: #e43636;
    transition: all .35s ease;
    padding: 15px 20px;
    font-size: 12px;
    line-height: 1.8;
    border-radius: 0;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    display: inline-block;
}
.boxApollo a:hover{
    background-color: #cc1b1b;
}
/* Block Design */
.item-media{
    position: relative;
    background-color: #f9f9f9;
    padding: 80px 20px;
}
.item-1:after, .item-2:after, .item-3:after, .item-4:after, .item-1:before, .item-2:before, .item-3:before, .item-4:before{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
}
.item-1:after{
    background-image: url(../img/design-image-1-rs.webp);
    right: 0;
}
.item-2:after{
    background-image: url(../img/design-image-2-rs.webp);
    right: 0;
}
.item-3:after{
    background-image: url(../img/design-image-1-rs.webp);
    right: 0;
}
.item-4:after{
    background-image: url(../img/design-image-4-rs.webp);
    right: 0;
}
.item-1:before{
    right: 0;
    background-color: #333;
    z-index: 1;
    opacity: .70;
   
}
.item-2:before{
    right: 0;
    background-color: #333;
    z-index: 1;
    opacity: .70;
   
}
.item-3:before{
    right: 0;
    background-color: #333;
    z-index: 1;
    opacity: .70;
   
}
.item-4:before{
    right: 0;
    background-color: #333;
    z-index: 1;
    opacity: .70;
   
}

.media-info h3{
    margin-bottom: 70px;
    color:  #333
    font-size: 24px;
    margin-top: 22px;
    font-weight: 700;
    font-family: Poppins,Arial,Helvetica,sans-serif;
    letter-spacing: -1px;  
}
.media-info p{
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px;
    color: #999;
}
.media-info a{
    color: #fff;
    background-color: #e43636;
    border-color: #e43636;
    text-decoration: none;
    transition: all .35s ease;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 1.8;
    border-radius: 0;
}

